<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <!-- ====================================owl carousel css========================================================-->
    <!-- <link rel="stylesheet" href="owl-carousel/assets/owl.carousel.min.css" type="text/css">-->

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!--=================================== Bootstrap CSS ==============================================================-->
    <!--================================================================================================================-->

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

    <!--==================================== Font awesome CSS =============================================================-->
    <!--===================================================================================================================-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">
    <script src="https://use.fontawesome.com/67912d8e88.js"></script>

    <!--===================================================================================================================-->
    <!-- custom CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <title>DigImmuno-Homepage</title>


</head>
<body>
     
   
    <%- include('../partials/navbar'); %>

    <div class="home-content">
        <div class="home-presentation">
            <h1>DigImmuno</h1>
            <p>Digitising the Covid-19 vaccination</p>
        </div>
        <img style="height:60vh" src="/images/DigImmuno.png" alt="home">
    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); %>


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>

    <!-- owl carousel js-->
    <!--<script src="owl-carousel/owl.carousel.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>